[submodule "energy_consumption"]
	path = energy_consumption
	url = git@github.com:Kirchhoff-Machines/rkm_energy.git
[submodule "datasets"]
	path = datasets
	url = git@github.com:Kirchhoff-Machines/datasets.git
