*.pkl
*.swp
tasks.json
.DS_Store
.vscode/

.mypy_cache/
.mypy*

.pytest_cache/

tMp/
__pycache__/
build/
.ruff_cache/
pyrkm.egg-info/

.coverage
.coverage*

.tests

# Temp files from the notebook run
model_measures/
model_states/
classifier_states/
*/model_measures/
*/model_states/
*/classifier_states/
*/*/model_measures/
*/*/model_states/
*/*/classifier_states/
*/*/*/model_measures/
*/*/*/model_states/
*/*/*/classifier_states/
