# General
.DS_Store
*.swp

# VS Code
.vscode/
tasks.json

# Python
__pycache__/
*.pkl
pyrkm.egg-info/
build/

# Testing and Linting
.mypy_cache/
.mypy*
.pytest_cache/
.ruff_cache/
.coverage
.coverage*
.tests

# Virtual Environments
venv/
.venv/

# Notebooks
.ipynb_checkpoints/

# Project specific temporary output directories (recursive)
# These are used for storing model states and measures
model_measure/
model_states/
classifier_states/

# Temporary directories
tMp/
